.boxep{
  width: 450px;
  padding: 10px;
  border-radius: 5%;
  background-color: white;
  border: solid 7px #efefef;
  margin-top: 1rem;
  margin-left: -100rem;
  color: #858796;
  margin-left: 6rem;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

aside {
    float: right;
    width: 60%;
    padding-left: 20px;
}

.ava{
  width: 100%;
}

.ava img{
  width: 400px;
  
}

article{
  float:left;
  width: 50%;
  line-height:21px;
  color:#000000;
}

.col-CP {
  position: relative;
  width: 100%;
  padding-left: 0.75rem;
}